<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Colors</span>
</div>
<div class="config-option-format">
	<pv-color-picker id="backgroundColor" ng-model="config.BackgroundColor" config="config" colorkeyword="Background">
</pv-color-picker></div>	
<div class="config-option-format">
	<pv-color-picker id="BorderColor" ng-model="config.BorderColor" config="config" colorkeyword="Border">
</pv-color-picker></div>	
<div class="config-option-format">
	<pv-color-picker id="HeaderBackgroundColor" ng-model="config.HeaderBackgroundColor" config="config" colorkeyword="Header Back">
</pv-color-picker></div>
<div class="config-option-format">
	<pv-color-picker id="HeaderTextColor" ng-model="config.HeaderTextColor" config="config" colorkeyword="Header Text">
</pv-color-picker></div>
<br>	
<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Display Options</span>
</div>
<br>
<table cellpadding="4">
	<tr>
		<td>
			<div class="config-option-format" style="width: 100%;">
			Display Digits:
			</div>
		</td>
		<td>
			<input type="number" min="0" max="10" style="margin-right:8px;text-align:center"
			   ng-model="config.DisplayDigits" />
			   <br />
		</td>
	</tr>
	<tr>
		<td>
			<div class="config-option-format" style="width: 100%;">
			Border radius:
			</div>
		</td>
		<td>
			<input class="config-option-single-row-input" type="range" min="0" max="20" step="1"
					ng-model="config.BorderRadius"
					style="width:100px; height:100%; float: right; margin-right:25px;"/>
					<br />
						
		</td>
	</tr>
	<tr>
		<td>
			<div class="config-option-format" style="width: 100%;">
			Show Name
			</div>
		</td>
		<td>
			<input type="checkbox" class="c-config-checkbox"
						   ng-model="config.showTitleName">

		</td>
	</tr>
	<tr>
		<td>
			<div class="config-option-format" style="width: 100%;">
			Show Units
			</div>
		</td>
		<td>
			<input type="checkbox" class="c-config-checkbox"
						   ng-model="config.showTitleUnits">

		</td>
	</tr>
	<tr>
		<td>
			<div class="config-option-format" style="width: 100%;">
			Show Timestamp
			</div>
		</td>
		<td>
			<input type="checkbox" class="c-config-checkbox"
						   ng-model="config.showTimestampCheckboxValue">
		</td>
	</tr>
</table>



